<p-toast></p-toast>

<div class="profile-wrapper">
  <div class="p-grid">
    <div class="p-col-4 p-offset-5">
      <img
        [src]="
          userData.photoURL
            ? userData.photoURL
            : '/assets/images/default-user-image.png'
        "
        alt=""
        class="user-image"
      />

      <button
        pButton
        pRipple
        icon="pi pi-pencil"
        class="p-button-rounded p-mr-2 edit-user-image"
        (click)="onClickOpenEditUserPhoto()"
      ></button>
    </div>
  </div>
  <div class="line-divider"></div>
  <div class="p-grid profile-content-wrapper">
    <div class="p-col-3">
      <i class="pi pi-chevron-right"></i>
      <span class="user-details-header"> User Details </span>
    </div>
    <form (ngSubmit)="onSubmit(formEditProfile)" #formEditProfile="ngForm">
      <div class="p-grid">
        <div class="p-col-8">
          <div class="p-grid">
            <div class="p-col">
              <label for="displayName">User Name</label>
              <input
                type="text"
                pInputText
                id="displayName"
                name="displayName"
                value=""
                [(ngModel)]="inEditUserData.displayName"
                required
                autofocus
                [disabled]="!isEditMode"
                #displayName="ngModel"
              />
              <span
                class="help-block"
                *ngIf="isEditMode && !displayName.valid && displayName.touched"
              >
                Please Enter displayName</span
              >
            </div>
            <div class="p-col">
              <label for="email">User Email</label>
              <input
                type="email"
                pInputText
                id="email"
                name="email"
                [(ngModel)]="inEditUserData.email"
                required
                [disabled]="!isEditMode"
                #email="ngModel"
                ngModel
                email
              />
              <span
                class="help-block"
                *ngIf="isEditMode && !email.valid && email.touched"
              >
                Please Enter Email</span
              >
            </div>
          </div>
        </div>
        <div class="p-col-8">
          <div class="p-grid">
            <div class="p-col">
              <label for="phoneNumber"> Phone Number</label>

              <input
                type="text"
                pInputText
                id="phoneNumber"
                name="phoneNumber"
                value=""
                [(ngModel)]="inEditUserData.phoneNumber"
                required
                autofocus
                [disabled]="!isEditMode"
                #phoneNumber="ngModel"
              />
              <span
                class="help-block"
                *ngIf="isEditMode && !phoneNumber.valid && phoneNumber.touched"
              >
                Please Enter phone Number</span
              >
            </div>
            <div class="p-col">
              <label for="city">City</label>

              <!-- <select [(ngModel)]="selectedCity">
                <option *ngFor="let c of cities" [ngValue]="c">
                  {{ c.name }}
                </option>
              </select> -->
              <div *ngIf="selectedCity">
                <p-dropdown
                  [options]="cities"
                  [(ngModel)]="selectedCity.name"
                  optionLabel="name"
                  optionValue="name"
                  name="city"
                  [disabled]="!isEditMode"
                  (onChange)="onChangeCity()"
                ></p-dropdown>
              </div>

              <!-- <input
                type="text"
                pInputText
                id="city"
                name="city"
                value=""
                [(ngModel)]="inEditUserData.city"
                required
                autofocus
                [disabled]="!isEditMode"
              /> -->
            </div>
          </div>
        </div>
      </div>

      <div class="p-col-5 p-offset-7">
        <div class="p-grid">
          <div class="p-col" *ngIf="!isEditMode">
            <button
              pButton
              pRipple
              label="Edit"
              icon="pi pi-pencil"
              class="change-password-button"
              (click)="onClickEditUserDetails()"
            ></button>
          </div>

          <div class="p-col" *ngIf="isEditMode">
            <button
              pButton
              pRipple
              label="Save"
              icon="pi pi-pencil"
              class="save-user-details"
              (click)="onClickSaveUserDetailsChanges()"
              [disabled]="formEditProfile.valid && !formEditProfile.dirty"
            ></button>
            <button
              pButton
              pRipple
              label="Cancel"
              icon="pi pi-pencil"
              class="cancle-user-details"
              (click)="onClickCancelEdit()"
            ></button>
          </div>
        </div>
      </div>

      <!-- end form -->
    </form>
  </div>
  <br />
  <div class="line-divider"></div>

  <div class="p-grid profile-content-wrapper">
    <div class="p-col-3">
      <i class="pi pi-chevron-right"></i>
      <span class="user-details-header"> Password </span>
    </div>
    <div class="p-col-3">
      <button
        pButton
        pRipple
        label="Change Your Password"
        icon="pi pi-pencil"
        class="change-password-button"
        (click)="onClickChangePassword()"
      ></button>
    </div>
  </div>
</div>

<!--
  Dialog
  ####################################################################################################
  ####################################################################################################
  ####################################################################################################
  ####################################################################################################
  ####################################################################################################
  ####################################################################################################
-->

<p-dialog
  [(visible)]="editUserPhotoDialog"
  [style]="{ width: '450px' }"
  header="Patient Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field image-edit-wrapper">
      <img
        id="photoURL"
        [src]="
          userData.photoURL
            ? userData.photoURL
            : '/assets/images/default-user-image.png'
        "
        alt=""
        class="user-image-dialog"
      />
    </div>

    <div class="p-field">
      <input
        style="display: none"
        type="file"
        class="text-nowrap text-truncate"
        (change)="selectFile($event)"
        accept="image/*"
        #fileInput
      />
      <p-button
        label="Upload Image"
        icon="pi pi-upload"
        styleClass="p-button-success"
        (click)="fileInput.click()"
      ></p-button>
      {{ fileName ? fileName : "" }}
      <div
        *ngIf="uploadProgress$ | async | number: '1.0-0' as progress"
        class="progress-wrapper"
      >
        <p-progressBar
          [value]="progress"
          [style]="{ 'border-radius': '30px' }"
        ></p-progressBar>
        <!-- <div
          class="progress-bar progress-bar-info"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div> -->
      </div>

      <!-- <div class="progress" *ngIf="uploadProgress$ | async as progress">
        <div
          class="progress-bar progress-bar-animated"
          [ngStyle]="{ width: progress + '%' }"
        ></div>
      </div> -->
    </div>
  </ng-template>

  <!-- Save and Cancel Dilog-->
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveImageProfile()"
    ></button>
  </ng-template>
</p-dialog>

<!--
  Dialog Change Password
  ####################################################################################################
  ####################################################################################################
  ####################################################################################################
  ####################################################################################################
  ####################################################################################################
  ####################################################################################################
-->

<p-dialog
  [(visible)]="changePasswordDialog"
  [style]="{ width: '550px' }"
  header="Change Password"
  [modal]="true"
  styleClass="p-fluid"
>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onPasswordSubmit()">
    <div class="p-field">
      <label for="password">Password</label>
      <input
        pInputText
        type="password"
        id="password"
        formControlName="password"
      />
    </div>
    <span
      class="help-block"
      *ngIf="
        !changePasswordForm.get('password').valid &&
        changePasswordForm.get('password').touched
      "
    >
      Please Enter Strong Password
    </span>
    <div class="p-field">
      <label for="passwordConfirm">Password Confirm</label>
      <input
        type="password"
        id="passwordConfirm"
        formControlName="passwordConfirm"
        pInputText
      />
    </div>
    <span
      class="help-block"
      *ngIf="
        changePasswordForm.get('passwordConfirm').value !=
          changePasswordForm.get('password').value &&
        changePasswordForm.get('passwordConfirm').touched
      "
    >
      Not Equal Password
    </span>

    <!-- Save and Cancel Dilog-->
    <div class="password-buttons-wrapper">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text-password"
        (click)="hideChangePasswordDialog()"
      ></button>

      <button
        type="submit"
        pButton
        pRipple
        label="Send"
        icon="pi pi-check"
        class="p-button-text-password"
        (click)="onSaveChangePassword()"
        *ngIf="
          changePasswordForm.get('password').dirty &&
            changePasswordForm.get('passwordConfirm').value ==
              changePasswordForm.get('password').value;
          else sendTemplate
        "
      ></button>
      <ng-template #sendTemplate>
        <button
          style="
            color: #ffffff;
            background: #b8dcf8;
            border: 1px solid #b8dcf8;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            transition: background-color 0.2s, color 0.2s, border-color 0.2s,
              box-shadow 0.2s;
            border-radius: 3px;
          "
          icon="pi pi-check"
          class="p-button-text-password"
          [disabled]="true"
        >
          Save
        </button></ng-template
      >
    </div>
  </form>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
