@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.container {
  margin: 0 1.5em;

  margin-top: 20px;
  padding: 2em;
  position: relative;

  background: #f1f1f1;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #636363;
  letter-spacing: 1px;
}
.add-new-expense-type-button {
  background: rgb(92, 180, 62);
  background: linear-gradient(
    47deg,
    rgba(92, 180, 62, 1) 0%,
    rgba(59, 142, 23, 0.9192051820728291) 54%,
    rgba(54, 105, 17, 0.9920343137254902) 100%
  );
  font-family: "Roboto Slab", serif;
  border: none;
}
.add-new-expense-type-button:hover {
  background: rgb(92, 180, 62);
  background: linear-gradient(
    47deg,
    rgba(92, 180, 62, 1) 0%,
    rgba(59, 142, 23, 0.9192051820728291) 54%,
    rgba(54, 105, 17, 0.9920343137254902) 100%
  );
}
