.sendButton:hover {
  transition-duration: 1s;
  background-color: transparent;
  color: #e08e57 !important;
  /* border: 1px solid #e06f4d !important; */
  background-color: #3f3c3cf6 !important;
}
/* .sendButton {
  transition-duration: 1s;
  margin-left: 15%;
  background-color: #b2b2b3;
  border: 1px solid #b2b2b3;
} */

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

#container {
  width: 200px;
  height: 200px;
  display: table;
  background-color: rgba(253, 247, 247, 0.479);
  border: 1px solid #008744;
}

#container .image-container {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

#container .image-container img {
  max-width: 200px;
  max-height: 200px;
}

.about-header {
  color: #52c0f3f6;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}
#hide {
  color: white;
}
/* message css */
body {
  margin: 0;
  padding: 0;
  background: #000;
}

.p-mb-1 {
  color: rgb(230, 230, 230);
}
.image-wrapper {
  border: 1px solid slategrey;
  border-radius: 10px;
}
.spinner-wrapper {
  /* width: 300px;
  height: 131px;
  border: 1px solid slategrey;
  border-radius: 10px; */
}
a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 26px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  background-color: rgba(0, 173, 253, 0.131);
  box-shadow: inset 0 0 5px #0056c5b9;
}

a:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: inset 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
img {
  cursor: pointer;
}
